<meta charset="UTF-8">
{% set limit=10 %}
<div class="word"><span class="wordfrom">{{slovariword.wordfrom}}</span></div>
<div class="partofspeech">{{slovariword.part_of_speech}}</div>
{% for definition in slovariword.definitions[:limit] %}
<div class="wordto">= {{definition}}</div>
{% endfor %}
Synonims:
<div class="synonym">{{slovariword.synonims[:limit] | join(', ')}}</div>
