img {
    height: auto;
    width: auto;
    max-width:1200px;
    max-height:1200px;
}
#imgdiv {
    width: 100%;
}
.container {
}
.panel {
    position: absolute;
}
.left {
    width: 50px;
    background-color: transparent;
    font-size: 30px;
}
.right {
    width: 50px;
    background-color: transparent;
    font-size: 30px;
    float: right;
}
