body {
    line-height: 1.1;
}
br {
    line-height: 0.5;
}
.columns2 {
    column-count: 2;
    column-gap: 5px;
}
/* word lemma (they way it is spelled) */
.lem {
    font-weight: bold;
}
/* category, e.g. verb, adjective */
.kat {
    color: grey;
    font-size: smaller;
    margin-left: 5px;
    user-select: none;
}
/* definition */
.def {
    border-left: thick double #ebbd34;
    padding-left: 5px;
}
.def:nth-child(odd) {
    background-color: #fffbeb;
}
/* example */
.eks {
    border-left: thick double #32a1ce;
    padding-left: 5px;
}
.eks:nth-child(odd) {
    background-color: #edf0ff;
}
/* more examples */
.sms {
    border-left: thick double #4cc700;
    padding-left: 5px;
    column-break-inside: avoid;
}
.sms:nth-child(odd) {
    background-color: #ecffd1;
}
/* idioms */
.idi {
    border-left: thick double #d10232;
    padding-left: 5px;
}
.idi:nth-child(odd) {
    background-color: #ffeded;
}
/* word forms */
.mor {
    border-left: thick double #adadad;
    padding-left: 5px;
}
.mor:nth-child(odd) {
    background-color: #f8f8f8;
}
