th {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #557FBD;
    border-right: 1px solid #557FBD;
    border-bottom: 1px solid #557FBD;
    border-top: 1px solid #557FBD;
    text-align: center;
    /* padding: 6px 6px 6px 12px; */
    padding: 1px 1px 1px 1px;
}
td {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #557FBD;
    border-right: 1px solid #557FBD;
    border-bottom: 1px solid #557FBD;
    background: #fff;
    /* padding: 6px 6px 6px 12px; */
    padding: 1px 1px 1px 1px;
    text-align: center;
}

body, div, span, a, ul, li { line-height: 1.1 !important; }
