requests==2.24.0
beautifulsoup4==4.8.2
pyppeteer==1.0.2
playwright==1.21.0
PyQt5==5.14.1
PyQtWebEngine==5.14.0
Flask==1.1.2

cchardet==2.1.7
lxml==4.8.0
aiohttp-jinja2==1.5
Jinja2==3.0.3

Telethon==1.24.0
PyICU==2.9
